:root { 
	--link-color: black;
	--link-hover-color: rgb(255, 69, 59, 1);
}
html {
	font-family: Iowan Old Style;
}
body {
	max-width: 728px; 
	margin: 0 auto; /* Center text */
	padding: 0 20px 0 20px; /* Set minimum padding on left and right */
	line-height: 1.6em;
	font-size: 16px;
}
a { 
	color: var(--link-color);
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-color: var(--link-color);
	border-bottom-style: solid;
	padding-bottom: .1em;
}
a:hover {
	color: var(--link-hover-color);
	border-bottom-color: var(--link-hover-color);
}

/* Align bullet points with text */
ul {
	padding-left: .2em;
}
ul li {
	list-style-position: inside;
}

/* Components */
.uidate { 
	margin-top: -1em;
	color: #6C6C70;
}